.main{
    display: flex;
    flex-direction: column;
    gap: 96px;
}
.up{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}
.up h1 {
    font-size: 48px;
    width: 65%;
}
.car{
    position: absolute;
    top: 180px;
    left: 48%;
}
.text_btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 8px
}
.text p{
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #3E3E3E;
}
.text h4{
    font-size: 15px;
    font-weight: 500;
}
.btns{
    display: flex;
    gap: 40px;
}
.btns button{
    background: #7DA658;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 44px;
    border-radius: 100px;
    padding: 10px 40px 10px 18px;
    border: 1px solid black;
    color: #F1F1F1;
    font-size: 15px;
    cursor: pointer;
}
.btns button:hover{
    background: #6f944e;
}
.btns a{
    text-decoration: none;
}
.phone{
    border-bottom: 1px solid #000000;
    width: 157px;
    padding-left: 5px;
    display: flex;
    gap: 10px;
    height: 45px;
    align-items: center;
}
.phone a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
}
.down{
    display: flex;
    justify-content: space-between;
}
.graph{
    display: flex;
    align-items: center;
    gap: 20px;
}
.graph h3{
    font-size: 15px;
    font-weight: 400;
}
.time{
    display: flex;
    align-items: center;
}
.email{
    display: flex;
    gap: 10px;
    align-items: center;
}
.email a{
    font-weight: 400;
    color: #F1F1F1;
    font-size: 15px;
    text-decoration: none;
}
.phone2, .time2{
    display: none;
}
@media screen and (max-width: 390px) {
    .main{
        color: white;
        gap: 50px;
    }
    .car, .phone1, .time1{
        display: none;
    }
    .phone2, .time2{
        display: inline-block;
    }
    .text, .up, .time, .email{
        gap: 5px;
    }
    .up h1{
        font-size: 24px;
        width: 70%;
    }
    .graph h3, .email a{
        font-size: 8px;
        color: #F1F1F1;
    }
    .email img{
        width: 15px;
        height: 15px;
    }
    .text p, .text h4{
        color: white;
        font-size: 15px;
        font-weight: 500;
    }
    .btns button, .phone, .phone a{
        border-color: white;
        color: white;
    }
    .btns{
        gap: 15px;
    }
}