.advantages {
    width: 206px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 3px 10px 2px #00000040;
    background: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    line-height: 30px;
}
@media screen and (max-width: 390px) {
    .circle{
        width: 70.87px;
        height: 71.72px;
        background: #F0EAD2;
        box-shadow: 0px 1px 10px 1px #00000040;
    }
    .circle img{
        width: 50px;
    }
    .title{
        font-size: 7px;
        line-height: 10px;
    }
    .advantages{
        width: 73px;
        height: 104px;
    }
}