.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.header div, nav{
    display: flex;
}
.header nav{
    gap: 40px;
}
.header div{
    gap: 10px;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.header a:hover{
    text-decoration: underline;
}
.logos{
    display: flex;
    align-items: center;
}
.menu, .logowhite{
    display: none;
}
@media screen and (max-width: 390px) {
    nav, .web, .logoblack{
        display: none;
    }
    .menu, .logowhite{
        display: inline-block;
    }
    header{
        padding: 0;
    }
    .logos div{
        display: flex;
        gap: 5px;
        position: relative;
        right: 20px;
    }
}