header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
header div, ul{
    display: flex;
}
header ul{
    gap: 40px;
    margin-right: 50px;
    list-style: none;
}
header div{
    gap: 10px;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 16px;

    &:hover{
        text-decoration: underline;
    }
    
    &:active{
        text-decoration: line-through;
    }
}
.web{
    cursor: pointer;
}
.logos{
    display: flex;
    align-items: center;
}
.burger, .menu, .logowhite{
    display: none;
}
@media screen and (max-width: 390px) {
    header nav.open {
        transform: translateX(0);
    }
    .web, .logoblack{
        display: none;
    }
    .burger, .logowhite{
        display: inline-block;
        z-index: 3;
    }
    .burger{
        width: 20px;
        height: 16px;
        position: relative;
        transition: all 0.3s ease;
    }
    header ul{
        justify-content: space-between;
        gap: 0;
        display: block;
    }
    header ul li{
        margin-bottom: 20px;
    }
    header nav{
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        position: fixed;
        padding: 65px 15px 0 15px;
        top: 0;
        left: 0;
        width: 100vw;
        background: #50a071;
    }
    header a{
        color: white;
    }
    .burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 7px;
        transition: all 0.3s ease;
    }
    .burger::after{
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        transition: all 0.3s ease;
    }
    .burger::before{
        top: 0;
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }
    .burger {
        width: 20px;
        height: 16px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        z-index: 3;
    }
    
    .burger span {
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: #fff;
        left: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }
    
    .burger.open::before {
        transform: rotate(45deg);
        top: 7px;
    }
    
    .burger.open span {
        opacity: 0;
    }
    
    .burger.open::after {
        transform: rotate(-45deg);
        top: 7px;
    }
    header{
        position: fixed;
        width: 100vw;
        height: 50px;
        z-index: 50;
        top: 0px;
        left: 0;
        background-color: #478E64;
    }
}