.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.header div, nav{
    display: flex;
}
nav{
    gap: 40px;
    margin-right: 55px;
}
.header div{
    gap: 10px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.title{
    width: 151.4px;
    height: 14.4px;
}
