.main{
    background: linear-gradient(to right, #F1F1F1 72.5%, #478E64 27.5%);
    padding: 30px 90px 25px 100px ;
    display: flex;
    flex-direction: column;
    gap: 131px;
    border-bottom: 1px solid #B7B7B7 ;
}
@media screen and (max-width: 390px) {
    .main{
        background: #478E64;
        padding: 16px;
        gap: 0;
        justify-content: center;
        border: none;
        box-shadow: 0px 5px 10px 0px #00000040;
    }
}