.App{
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.main{
    background: linear-gradient(to right, #F1F1F1 72.5%, #478E64 27.5%);
    padding: 30px 90px 20px 100px ;
    display: flex;
    flex-direction: column;
    gap: 131px;
    border-bottom: 1px solid #B7B7B7 ;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
