* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.App{
  background: #F1F1F1;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.main{
  background: linear-gradient(to right, #F1F1F1 72.5%, #478E64 27.5%);
  padding: 30px 90px 25px 100px ;
  display: flex;
  flex-direction: column;
  gap: 158px;
  border-bottom: 1px solid #B7B7B7 ;
}
.about{
  padding: 0 100px;
}
.flex {
  padding: 0 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container h2{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
hr{
  width: 60%;
  margin: 0 auto;
  border: 1px solid rgb(116, 116, 116);
}
.method{
  background: #478E64;
  box-shadow: 0px 10px 20px 0px #00000040;
  padding: 8% 0;
  height: 100%;
}
.road{
  background: #478E64;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 100px 0;
  justify-content: center;
}
.cards{
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.text{
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text h2{
  font-size: 30px;
  font-weight: 700;
}
.text p{
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  width: 60%;
  margin: 0 auto;
}
.traffic{
  width: 111.39px;
  height: 208.49px;
  position: absolute;
  top: 3734px;
  left: 172px;
}
.roadimg{
  position: absolute;
  top: 4259px;
  right: 0;
}
.App section{
    width: 100%;
}
footer{
  background: black;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
button{
  cursor: pointer;
}
@media screen and (max-width: 390px) {
  .main{
      background: #478E64;
      padding: 16px;
      gap: 26px;
      justify-content: center;
      border: none;
      box-shadow: 0px 5px 10px 0px #00000040;
  }
  .about{
      padding: 0 16px;
  }
  .App{
      background: white;
      gap: 30px;
  }
  .container h2{
      font-size: 21px;
  }
  .container{
      gap: 20px;
  }
  .method{
      box-shadow: 0px 5px 10px 0px #00000040;

  }
  .text h2{
    font-size: 21px;
    font-weight: 700;
  }
  .text p{
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    width: 90%;
    z-index: 2;
  }
  .road{
    padding: 30px 0;
    gap: 30px;
  }
  .cards{
    gap: 20px;
  }
  .traffic{
    width: 48.63px;
    height: 91.03px;
    top: 1963px;
    left: 52.45px;
  }
  .roadimg{
    width: 190.26px;
    height: 175.29px;
    top: 2624px;
    left: 199.74px;
  }
  footer{
    padding: 25px 0;
  }
}